/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-image: url('/static/imagenes/Foto-portada-3.jpg'); /* Ruta a tu imagen de fondo */
    background-size: cover; /* Ajuste la imagen para que cubra toda la pantalla */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat; /* No repite la imagen */
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semi-transparente */
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    text-align: center;
}

form fieldset {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

form legend {
    font-size: 18px;
    color: #007BFF;
    padding: 0 10px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.form-group input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.form-group input[type="submit"]:hover {
    background-color: #0056b3;
}

h2 {
    margin-top: 70px;  /* Margen superior para separar del contenido anterior */
    margin-bottom: 20px; /* Margen inferior para separar del contenido siguiente */
}
